{% extends 'NewOrleans/base.html' %}
{% load static %}

{% block title %}History{% endblock %}

{% block body_class %}history_body{% endblock %}

{% block content %}
<div class="history_container">
    <h2>Welcome to the History Page!</h2>
    <p>No other city in America keeps its history as vital and accessible as New Orleans. House after house,
        street after street, indeed entire neighborhoods, exude a rich sense of place, and serve as
        touchstones for fascinating history and complex culture. Look for it. In New Orleans, history can
        strut as loudly as a Carnival walking krewe, or creep as softly as a green lizard on a courtyard
        wall. Thrilling. Colorful. Tragic. Inspiring. Discover a little about the sweep of the city’s
        history.
    </p>
    <p>
        Indigenous people called it Balbancha, “land of many tongues,” and they inhabited the rich delta
        lands between the Mississippi River (“Father of Waters”) and Okwa-Ta (“Big Water,” Lake Pontchartrain)
        for the same reasons that would later attract Europeans: abundant ecological resources and a convenient
        network of navigable rivers, bayous and bays. Claimed for the French Crown by explorer Robert Cavelier,
        Sieur de La Salle in 1682, La Nouvelle-Orleans was founded by Jean Baptiste Le Moyne de Bienville in 1718
        upon the slightly elevated banks of the Mississippi River approximately 95 miles above its mouth. Engineers
        laid out a grid of streets with a Place d’Armes (today’s Jackson Square) that would become known as the
        Vieux Carré (“Old Square”), or today’s French Quarter. The nascent outpost became the capital of the French
        Colony of Louisiana in 1723.
    </p>
    <p>If you find this fascinating and want to learn more, please follow this link to the source material to
        learn more about
        <a href="https://www.neworleans.com/things-to-do/history/history-of-new-orleans-by-period/">New
        Orleans history.</a>
    </p>
</div>
{% endblock %}